/* src/app/page.module.css */
@keyframes slideDown {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url('/nacho_background.jpg') no-repeat center center fixed;
  background-size: cover;
}

.main {
  text-align: center;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 10px;
}



.title {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.title2 {
  font-size: 1.8rem;
  margin-bottom: 20px;
}  

.description {
  font-size: 1.2rem;
  line-height: 1.5;
}


.highlight {
  font-weight: bold;
  text-decoration: none; /* Remove underline */ 
} 



.highlight2 {
  font-weight: bold;
  color: #0a362a;
} 

.highlight2 a {
  text-decoration: none; /* Remove underline */
  color: inherit; /* Inherit the color from the parent element */
}

.highlight2 a:hover {
  color: inherit; /* Ensure the color stays the same on hover */
}

.bannerTopText {
  font-weight: bold;
  font-size: 2.1rem; 
  color: #a00515; /* Highlight color, you can change this to any color you prefer */
}   


.featuresSection {
  display: flex;
  flex-direction: column; /* Stack items vertically on mobile */
  justify-content: left;
  align-items: center;
  padding: 20px;
  background-color: #bbe8d3;
  color: #02140c;
}

.featuresImage {
  padding: 20px;
  margin-right: 20px;
  margin-left: 20px;
}

.featuresText {
  margin-right: 20px;
  max-width: 800px;
  padding: 40px; 
}

.featuresText h2 {
  font-family: 'Poppins', sans-serif; /* You can change this to any cool font you prefer */
  margin-bottom: 20px;
}

.featuresText ul {
  list-style-type: disc;
  padding-left: 20px;
}

.featuresText li {
  margin-bottom: 10px;
  font-size: 1.2rem;
}

.bottomSection {
  display: flex;
  justify-content: center;
  font-size: 0.5rem;  
  padding: 40px;
  background-color: #1c1a22;
  color: #f4e4cd;
}

.faqSection {
  text-align: center;
  font-size: 1.5rem;
  text-decoration: none; /* Remove underline */
  font-family: 'Poppins', sans-serif; /* You can change this to any cool font you prefer */
  color: #000000;
  padding: 20px 40px; /* Add padding to left and right sides */
  margin: 20px auto; /* Center the container */
  border-radius: 10px;
  max-width: 800px; /* Optional: limit the max width */
}